__pycache__/
*.py[cod]
.venv/
venv/
build/
dist/
*.spec
config/gui_settings.json
config/*.tmp
logs/*
!logs/.gitkeep
output/*
!output/.gitkeep
target/*
!target/.gitkeep
release/*.exe
release/*.zip
~$*.xlsx
~$*.xlsm
~$*.pptx
~$*.pptm
.vscode/
Thumbs.db
Desktop.ini
